html, body {
	height: 100%;
	margin: 0px;
}

#pageHolder {
	display: flex;
	height: 100%;
}

#inputArea {
	width: 33%;
	height: 100%;
	border-right: 2px solid black;
}

#preview {
	width: 67%;
	height: 100%;
}

#pathText {
	margin: 8px;
	width: calc(100% - 24px);
	resize: vertical;
}

.point {
	fill: black;
}

#startPoint {
	fill: blue;
}